*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x:hidden;
}

.main{
    background: url('./../images/bg_header.jpg');

    height: 600px;
}
.main .header{
    background: rgba(0, 0, 0, 0.6) ;
}

.main .header .container{
    min-height: 100px;
    font-size: 16px;
}

.main .content{height: 70%;}
.main .content-text{

    -webkit-filter: grayscale(65%); /* Safari 6.0 - 9.0 */
  filter: grayscale(65%);
}

.main .content p{
    background: rgba(0, 0, 0, 0.3);
    
}

@media screen and (min-width: 769px) {
    .main .content p{
        font-size: 2rem;
    }
}

.service{
    background: #4bcaff;
}

.container .coffee {
    padding-left: 0;
}

.video {
    background: #515f67;
}
.plus{
    width: 230px; 
    height: 230px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    overflow: hidden;
    display: none !important;
}

.img-wrap img{
    overflow: hidden;
    width: 230px;
    height: 230px;
    display: block;

}



.img-wrap{
    overflow: hidden;
    width: 252px;
    height: 252px;
    position: relative;
}
#twitter-text, #test-text{
    font-size: 200%;
}
@media screen and (max-width: 576px){
    .img-wrap img, .img-wrap{
        width: 100%;
        height: 35vh;
    }
    .plus{
        width: 97.5%;
        height: 100%;
    }
    .main{height: 500px}
    .btn {padding: 0; border: 0;}
    #twitter-text, #test-text{
        font-size: 100%;
    }
    li a{font-size: 75%;}
    
}

.img-wrap img:hover +.plus{
    display:flex !important;
}

.plus:hover {
    display: flex !important;
}

.twitter{
    background: #4bcaff;
}

.who{
    background: url("./../images/--bg-photo2.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.contact{
    background: url("./../images/bg_footer.jpg") no-repeat;
    background-position: center;
    background-size: cover;
   
}

.footer{
    background: #353f47;
}

.contact input, .contact textarea {
    background: transparent;
}


.coffee img:hover{
    transform:scale(1.5);
    transition-duration: 0.8s;

}